.office-view {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #d7dce2;
    font-size: 0;
}

.office-view-block {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    width: 33.3333%;
}

.office-view-block .btn {
    font-size: 14px;
}
.office-view-block .btn-primary {
    margin-left: 10px;
}

.office-view-title,
.office-view-description {
    display: inline-block;
    vertical-align: top;
}

.office-view-title {
    width: 70px;
    font-size: 14px;
    text-align: right;
}

.office-view.editing .office-view-title {
    line-height: 32px;
    width: 110px;
}

@media only screen and (min-width: 1200px) and (max-width: 1376px) {
    .office-view.editing .office-view-title {
        display: block;
        text-align: left;
    }

    .office-view.editing .office-view-description {
        padding-left: 0;
    }
}

.office-view-description {
    padding-left: 15px;
    font-size: 14px;
    word-break: break-word;
}

@media only screen and (max-width: 1199px) {
    .office-view-block {
        display: block;
        width: auto;
        padding: 10px 0;
        border-bottom: 1px solid #d7dce2;
    }

    .office-view-block:first-child {
        padding-top: 0;
    }

    .office-view-block:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}
