main {
    display: table;
    width: calc(100% - 2 * 25px); /* width without margins */
    margin: 25px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

main .sidebar-root,
main .page-root {
    display: table-cell;
}

main .sidebar-root {
    background: #e9f0f5;
    border: 1px solid #fff;
}

@media screen and (max-width: 767px) {
    main {
        display: block;
        width: auto;
    }

    main .sidebar-root,
    main .page-root {
        display: block;
    }
}

/* buttons */

.btn {
    padding: 5px 12px;
}

.btn:not(.btn-link) {
    font-weight: bold;
}

.btn-default {
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #53687e;
}

.btn-primary {
    border-radius: 2px;
    background-color: #2888d1;
}

.btn-link .icon {
    display: inline-block;
    margin-right: 5px;
    padding: 0px 3px;
    height: 16px;
    line-height: 14px;
    vertical-align: middle;
    background: #2477b3;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
}

.btn.btn-sm {
    padding: 1px 12px;
}

.btn-sm.btn-default {
    background-color: #f7f8fa;
    border: solid 1px #d8dde3;
    font-weight: normal;
}

.btn-sm.btn-default:hover {
    background: #e6e6e6;
}

/* inputs & select */

.Select-control,
input[type="text"].form-control {
    width: 191px;
    border-radius: 2px;
    border: solid 1px #d8dde3;
    padding: 8px 5px;
    height: 32px;
    color: #334152;
}

.form-control.filled {
    background: #f7f8fa;
}

.Select-control {
    padding: 0;
    background: #f7f8fa;
}

.Select-option.is-selected {
    background-color: #2477b3;
    font-weight: 600;
    color: #fff;
}
.Select-option.is-focused {
    background-color: #d8dde3;
    font-weight: 600;
    color: #334152;
}

span.validation {
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

textarea.form-control {
    resize: vertical;
    background: #f7f8fa;
    border-radius: 2px;
    border: 1px solid #d8dde3;
}

/* Modals */

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    border-radius: 4px;
}

.modal-body {
    padding: 20px 35px;
}

.modal-dialog .Select-control {
    width: 100%;
}

.modal-buttons {
    margin-top: 20px;
}

.control-label {
    color: #8c96a3;
    margin-top: 20px;
}

@media only screen and (min-width: 767px) {
    .modal-dialog {
        width: calc(100% - 20px);
        max-width: 435px;
    }
}
