.site-logo {
    display: inline-block;
    vertical-align: top;
    height: 33px;
    line-height: 33px;
    font-size: 16px;
    text-transform: uppercase;
}

.site-logo-primary,
.site-logo-secondary {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    padding: 0 2px;
}
