/* page-body */

.float-root {
    overflow: hidden;
}

.no-offices-label {
    margin-top: 20px;
    font-weight: 800;
}

/* page-footer */

.page-company-offices .page-footer .btn-link {
    margin-left: 70px;
}

.page-company-offices .page-footer .btn-primary {
    margin-left: 30px;
}

@media only screen and (max-width: 1199px) {
    .page-footer-button-block {
        margin-top: 10px;
    }

    .page-company-offices .page-footer .btn-link,
    .page-company-offices .page-footer .btn-primary {
        margin-left: 0;
        float: right;
    }
}
