/* page <section> */

.page {
    margin: 20px 20px 20px 60px;
}

@media only screen and (max-width: 767px) {
    .page {
        margin: 20px;
    }
}

/* page header */

.page-header {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.page-header h1,
.page-header h2 {
    display: inline-block;
    vertical-align: top;
    font-size: inherit;
}

.page-header h1 {
    color: #53687e;
}

.page-header h2 {
    color: #b7bdc4;
}

.page-header h2::before {
    content: '|';
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-weight: 100;
}

@media only screen and (max-width: 1023px) {
    .page-header {
        font-size: 28px;
    }

    .page-header h1,
    .page-header h2 {
        display: block;
    }

    .page-header h2 {
        margin-top: 10px;
        font-size: 18px;
        letter-spacing: 0;
    }

    .page-header h2::before {
        content: none;
    }
}

.page-description {
    margin-top: 10px;
}

/* page body */

.page-body {
    margin: 35px 0 40px;
    border: 1px dotted #b7bdc5;
    border-left: none;
    border-right: none;
    padding: 35px 0;
}

/* page footer */

.page-footer {
    overflow: hidden;
}

@media only screen and (min-width: 1200px) {
    .page-footer-button-block {
        float: right;
    }
}
