.header.navbar {
    background: #175786;
}

.header.navbar-default .nav > li > a {
    padding-left: 30px;
    padding-right: 10px;
    color: #fff;
}

.header .nav > li > a:hover,
.header .nav > li > a:focus {
    color: #fff;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .header .navbar-nav > li > a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
}

.header a.logo.navbar-brand {
    margin-left: 0;
    padding-left: 10px;
    height: 64px;
}

.header span.page-title {
    display: block;
    float: left;
    height: 64px;
    padding: 22px 15px;
    color: #fff;
}

.header .navbar-toggle {
    margin-top: 15px;
}

.header .navbar-toggle:focus,
.header .navbar-toggle:hover {
    background-color: #fff;
}

.header .navbar-toggle .icon-bar {
    background: #fff;
}

.header .navbar-toggle:focus .icon-bar,
.header .navbar-toggle:hover .icon-bar {
    background-color: #175786;
}
