.simple-checkbox {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
    cursor: pointer;
}

.simple-checkbox .simple-checkbox-icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin-right: 5px;
    background: #fff;
    border: 1px solid  #2888d1;
    font-size: 0.7em;
    text-align: center;
}

.simple-checkbox .glyphicon {
    color: #fff;
    opacity: 0;
}

.simple-checkbox:hover .simple-checkbox-icon,
.simple-checkbox.checked .simple-checkbox-icon {
    background: #2888d1;
}

.simple-checkbox.checked .glyphicon {
    opacity: 1;
}
