.sidebar {
    min-width: 220px;
}

/* step */

.sidebar .step {
    background: #175786;
    text-align: center;
    padding: 20px;
}

.sidebar .step-image {
    width: 111px;
    height: 111px;
}

/* menu */

.side-menu {
    margin: 0;
}

.sidebar li.list-group-item {
    padding: 0;
    background: none;
    border-color: #d8dde3;
}

.sidebar a.side-menu-lnk {
    display: block;
    padding: 14px 20px;
    text-transform: uppercase;
    color: #53687e;
}

/* submenu */

.sidebar .side-submenu li.list-group-item {
    border: none;
}

.sidebar .side-submenu-section {
    display: block;
    padding: 0 18px;
    line-height: 2.3;
    border-left: 2px solid transparent;
    color: #8c96a3;
}

.sidebar .side-submenu-section.active,
.sidebar .side-submenu-section.checked {
    color:  #334152;
}

.sidebar .side-submenu-section.active {
    border-color: #2888d1;
    font-weight: 600;
}
